body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

/***** Main Menu banne area *****/
.menu-banner-bg{
    background-color: #F0FFF0;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.main-logo,.top-menu{
    padding-top: 20px;
}

.menu-signin{
    padding-top: 22px;
}

.top-menu li{
    margin-left:20px ;
}

.signin,.get-started,.buy-now{
    border-radius: 33px;
    padding: 12px 36px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    font-family: Roboto;
}

.banner-area{
    margin-top: 50px;
}

.banner-title{
   
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
}

.banner-description{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color:#6C6B6B;
}

/***** Topic CSS *****/

.topic-content{
    
    background-color:#F8FFFB;
    text-align: center;
    padding: 40px 10px 20px 10px;
}

.topic-content:hover{
    background-color:#fff;
}

.topic-content img{
    width: 50px;
    height: 50px;
}

.topic-content h3{
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
}

.topic-content p{
    color: #585859;
}

/***** Course area *****/
.courses-list{
    margin-top: 80px;
}

.course-caption{
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
}

.course{
    background-color: #fff;
    padding: 10px;
    border-radius: 11px;
}

.course-img,.course-content{
    border:none; 
 }

 .course-title{
    
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
}

.course-desc{
    font-size: 16px;
    color: #585859;
 }

.date{
    font-weight: 500;
    font-size: 14px;
    color: #585859;
}
.date img{
    width: 8%;
}

.seat-number{
    font-weight: 500;
    font-size: 14px;
    color: #585859;
 }

 .seat-number img{
    width: 15%;
}

/***** Tesmonial CSS *****/
.testmonial{
    margin-top: 70px;
}

.testmonial-heading{
   
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
}

.testmonial p{
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.testmonial-img{
    text-align: right;
}


/***** footer CSS *****/
footer{
    margin-top: 100px;
    padding: 50px 0px 10px 0px;
    background-color: #282531;;
}

.footer-desc p{
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;

}

.footer-course-list ul li{
    font-weight: bold;  
}

.footer-course-list ul li{
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.copy-right{
    font-size: 16px;
    color: #CDCDCD;
    margin-top: 50px;

}

/***** media query *****/

@media screen and (min-width: 900px) and (max-width:1100px){
    .signin{
        padding: 12px 20px;
    } 

    .banner-title{
        font-size: 35px;
        line-height: 60px;
    }
    .topic-content{
        padding: 40px 10px 20px 10px;
       
    }
   
    
    .topic-content h3{
        font-size: 20px;
    }

    .date img{
        width: 20%;
    }
    .seat-number img{
        width: 30%;
    }

    .testmonial-img img{
        width: 50%;
    }
}
@media screen and (min-width: 600px) and (max-width:900px) {
    .main-logo img{
        width: 100%;
    }
    .banner-title{
        font-size: 35px;
        line-height: 60px;
    }

    .top-menu{
        text-align: right;
    }

    .signin{
       
        padding: 12px 20px;
    }

    .banner-img{
        padding-top: 30px;
    }

    .course,.topic-content{
        margin-bottom: 20px;
    }

   .banner-area,.menu-signin,.main-logo,.top-menu,.testmonial-heading,.course{
        text-align: center;
    }

    .date img{
        width: 20%;
    }
    
   
     .seat-number img{
        width: 40%;
    }
   
    .testmonial-img img{
        text-align: center;
        padding-bottom: 20px;
        width: 80%;
    }

    .testmonial p{
        text-align: center;
    }

    .footer-course-list,.footer-desc{
            text-align: center;
    }
   
}

  @media screen and (max-width: 600px){
    .top-menu {
        text-align: center;
    }
    .main-logo img{
        width: 100%;
    }
    .course,.topic-content{
            margin-bottom: 20px;
    }

    .banner-img{
            padding-top: 30px;
    }

    .banner-area,.menu-signin,.main-logo,.top-menu{
            text-align: center;
    }

    .seat-number img{
        width: 8%;
    }

    .testmonial-heading,.course{
        text-align: center;
    }

    .testmonial-img{
        text-align: center;
        padding-bottom: 20px;
         width: 100%;
    }

    .testmonial p{
        text-align: center;
    }
            
    .footer-course-list,.footer-desc{
        text-align: center;
    }
 
}